* {
	margin: 0;
	border: 0;
	display: block;
	box-sizing: border-box;
}

header, footer {
	width: 100%;
}

section {
	margin-left: auto;
	margin-right: auto;
}

header {
	height: 100vh;
}

h1 {
	text-align: center;
	font-size: xx-large;
}

h3 {
	text-align: center;
	font-size: x-large;
}

p {
	font-size: large;
	text-align: center;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	justify-content: space-around;
	display: flex;
}

nav a {
	text-decoration: none;
	font-size: larger;
}

  header h1 {
	  padding-top: 200px;
  }

  .para {
	padding: 10px;
	margin: 30px;
	border-radius: 2em;
  }

  @media only screen and (max-width: 900px) {
	  p {
		  font-size: medium;
	  }
  }