* {
	margin: 0;
	padding: 0;
	display: block;
	box-sizing: border-box;
	border: 0;
}

header, footer {
	width: 100%;
}

section {
	margin-left: auto;
	margin-right: auto;
}

header {
	height: 100vh;
}

h1 {
	text-align: center;
	font-size: xx-large;
}

h3 {
	text-align: center;
	font-size: x-large;
}

p {
	font-size: large;
	text-align: center;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #171614;
	align-items: center;
	display: flex;
	z-index: 10;
	height: 6vh;
}

.links{
	padding-left: 60%;
	width: 80%;
	display: inherit;
	justify-content: space-around;
}

nav a {
	text-decoration: none;
	font-size: larger;
}

.logo img{
	background-color: white;
	height: 6vh;
	border-radius: 50%;
	margin-right: 10px;
}

.logo{
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

header h1 {
	padding-top: 200px;
}

.para {
	padding: 10px;
	margin: 30px;
	border-radius: 1em;
}

@media only screen and (max-width: 900px) {
	p {
		font-size: medium;
	}

	.links{
		padding-left: 15%;
		padding-right: 5px;
	}
}

footer {
	background-color: rgba(17, 16, 14, 0.85);
	height: 150px;
	padding: 10px;
}
  
.socialLinks {
	display: flex;
	justify-content: center;
}

.socialLinks a img {
	height: 30px;
	margin: 5px;
}

.contactInfo {
	display: flex;
	justify-content: center;
}

.contactInfo p {
	margin: 5px;
}