* {
	margin: 0;
	border: 0;
	display: block;
	color: #d0c9b9;
	box-sizing: border-box;
}

header {
	height: 100vh;
}

section {
	height: 100vh;
}

h1 {
	width: 100%;
	text-align: center;
	font-size: xx-large;
}

 header img {
	height: 100%;
	z-index: -1;
	position: fixed;
  }
  
  header h1 {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

  header p {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

  .hidden p {
	opacity: 0;
	position: absolute;
	font-size: xx-large;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

  .hidden p:hover {
	opacity: 1;
  }

  nav {
	  background-color: #171614;
	  position: fixed;
	  top: 0;
	  width: 100%;
	  justify-content: space-around;
	  display: flex;
  }

  nav a {
	  text-decoration: none;
	  font-size: larger;
  }

  .videos {
	  display: grid;
	  height: 100%;
	  grid-template-columns: auto auto;
	  grid-template-rows: auto auto;
  }

  .video {
	  justify-self: center;
	  align-self: center;
	  width: 90%;
	  height: 100%;
	  padding: 5%;
  }