* {
	color: rgb(231, 220, 195);
	background-color: transparent;
}

body {
	background-image: url(https://wallpaperaccess.com/full/4488375.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.hidden button {
	opacity: 0;
	background-color: transparent;
	position: absolute;
	font-size: x-large;
	top: 50%;
	width: 100%;
	padding: 10%;
}

.hidden button:hover {
	opacity: 1;
}

@media only screen and (max-width: 900px) {
	.hidden button {
		top: 60%;
		font-size: large;
	}
}